@media only screen and (min-width: 1080px) and (max-width: 2400px) {
  #flag-container {
    width: 90%; /* decrease the width of the flag container */
    height: auto; /* adjust the height to automatically fit the image */
  }
  
  #flag-image {
    width: 100%; /* make the flag image take up full width */
    height: auto; /* adjust the height to automatically fit the image */
  }
  
  form {
    text-align: center; /* keep the form centered */
    margin-top: 30px; /* decrease the margin top to bring the form closer to the image */
  }
  
  #result {
    text-align: center; /* keep the result text centered */
    font-size: 16px; /* decrease the font size */
    color: #f0f0f0;
    padding-top: 10px;
  }
  
  label[for="guess-input"] {
    display: block;
    margin-bottom: 10px;
    font-size: 18px; /* decrease the font size */
    font-weight: bold;
    font-family: Arial, sans-serif;
    color: white;
  }

  input#guess-input {
    background-color: #f0f0f0; 
    padding: 10px;
    border-radius: 5px; 
    border: none; 
    font-size: 14px; /* decrease the font size */
  }

  /* decrease the font size and padding for the buttons */
  #submit-guess, #restart-button {
    font-size: 14px;
    padding: 8px 16px;
  }

  #points {
    margin-top: 10px;
    text-align: center;
    font-size: 16px; /* decrease the font size */
    color: #f0f0f0;
  }

  #high-score{
    text-align: center;
    font-size: 16px; /* decrease the font size */
    margin-top:10px;
    color: #f0f0f0;
  }
}
